h1{
    padding: 10px;
    background-color: green;
    color:white
}
#primerParrafo strong, em{
    color:blue;
}
 img {
    width: 100%;
    border-radius: 50%;
 }

 h3 {
    color: red;
 }
 a{
    color: green;
    text-decoration:underline;
 }
 iframe{
    width: 600px;
    height: 400px;
 }